.active .icon{
  color: white;
}
.active span{
  color: white;
}
.active,
.link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-full);
  text-decoration: none;
  color: var(--color-text-primary);
}
.icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.activeNav {
  position: absolute;
  inset: 0;
  background: var(--color-primary);
  border-radius: var(--radius-full);
  z-index: -1
}
